# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

# MongoDB
MONGO_URI=

# Redis
REDIS_HOST=
REDIS_PORT=

# Kafka
KAFKA_BOOTSTRAP_SERVERS=

# Firebase (pour FCM)
FIREBASE_PROJECT_ID=
FIREBASE_CREDENTIALS_PATH=
